assets/backgrounds/source/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/archive/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/equirect/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/equirect/*.png filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/jwst/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/skybox_*/*.png filter=lfs diff=lfs merge=lfs -text
assets/skybox_*/*.jpg filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
