assets/backgrounds/source/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/archive/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/equirect/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/equirect/*.png filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/jwst/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/skybox_*/*.png filter=lfs diff=lfs merge=lfs -text
assets/skybox_*/*.jpg filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
tools/gcovr/*.tar.gz filter=lfs diff=lfs merge=lfs -text
assets/backgrounds/source/carina-cosmic-cliffs-4k.jpg !text !filter !merge !diff
assets/backgrounds/source/crab-nebula-4k.jpg !text !filter !merge !diff
assets/backgrounds/source/carina-cosmic-cliffs-2k.jpg !text !filter !merge !diff
tools/gcovr/gcovr-python-8.4-vendored-source.tar.gz !text !filter !merge !diff
assets/backgrounds/source/southern-ring-nebula-2k.jpg !text !filter !merge !diff
assets/backgrounds/source/cartwheel-galaxy-2k.jpg !text !filter !merge !diff
assets/backgrounds/archive/PIA22085_5120x2880.jpg !text !filter !merge !diff
