name: C++ CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install conan
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev
    - name: Conan install
      run: |
        conan profile detect --force
        conan remote update conancenter --url="https://center2.conan.io"
        conan install . --output-folder=build --build=missing -s build_type=Release -s compiler.cppstd=23
    - name: Configure CMake
      run: cmake -S . -B build/build/Release -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=build/build/Release/generators/conan_toolchain.cmake
    - name: Build
      run: cmake --build build/build/Release
